In [12]:
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import os
from pathlib import Path
from dotenv import load_dotenv
from MCForecastTools import MCSimulation
import seaborn as sea

In [8]:
# File import
file_path = Path("data/DRI_data.csv")
DRI_data = pd.read_csv(file_path, index_col="Date")

In [9]:
#building data frame

dri_df = pd.read_csv(file_path)

In [13]:
dri_df.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2010-11-08  42.880383  43.363091  42.746300  42.934017  30.936893  1072100
1  2010-11-09  43.068104  43.068104  42.147385  42.344044  30.511770   664900
2  2010-11-10  42.120567  43.121735  41.932850  43.103859  31.059278  1507700
3  2010-11-11  42.817810  44.230171  42.603275  44.078209  31.761360  2067400
4  2010-11-12  43.604443  43.792160  43.050224  43.488235  31.336243  2397600

In [ ]:
#initialization of monte carlo toolkit

MonteCarloThirty=MCSimulation